img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

input[name="imagen"]{
    width: 100%;
}

.img{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.fechas{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    label{
        font-size: 30px;
        font-weight: bolder;
        color: aliceblue;
        filter: drop-shadow(1px 1px 2px #000);
    }
}


#src-file::before {
    content: 'Imagen Empresa';
  }
