<!-- EDUCACION -->

<section class="anchoCompletoVw mb-5">
    <div class="position-relative container p-3 color-white borderSoft softShadow">
        <p class="position-absolute top5 right2"> <i *ngIf="role === 'ROLE_ADMIN'" class="fa-solid fa-pen pointerHover text-end" (click)="abrir()"> </i></p>
        <h3 class="text-center">Educación</h3>
        <div class="container" *ngFor="let logro of educacion" >
            <hr >
            <div 
                *ngIf="role === 'ROLE_ADMIN'" 
                class="anchoCompletoPorc text-end" >
                <i 
                    class="fas fa-pen-nib pointerHover" 
                    (click)="editarEducacion(logro)">
                </i>  /  
                <i 
                    class="fas fa-trash pointerHover" 
                    (click)="eliminarEducacion(logro.idEducacion)">
                </i>
            </div>
            <div class="row" >
                <div class="col-md-2 info">
                    <img class="imgEmpresa" [src]="logro.imagenInstitucion" alt="arcor">
                </div>
                <div class="col info">
                    <h2> {{ logro.institucion.nombreInstitucion }} </h2>
                    <p>{{ logro.nombreTitulo }}</p>
                    <b class="text-secondary">Desde {{logro.fechainicio | date:"dd-MM-yyyy"}} - Hasta {{logro.fechaFin | date:"dd-MM-yyyy" || "(En curso)"}}</b>
                </div>
            </div>
        </div>          
    </div>
</section>
  
