<div class="caja">
    <form class="form container" [formGroup]="formu" (ngSubmit)="onSubmit($event)" id="form1">
        <div class="cerrar" (click)="cerrar()"> X </div>

        <div class="form-group img">
            <p class="file-select" id="src-file">
                <input value="Imagen perfil" formControlName="imagen" name="imagen" type="file" alife-file-to-base64
                    multiple (change)="onFileChanges($event)" />
            </p>

            <!-- En caso de que no se haya subido imagen entonces se toma la de la seleccion -->
            <img [src]="imagenUrl || infoEducacion.imagenInstitucion" alt="">

            <div *ngIf="Imagen?.errors && Imagen?.touched">
                <span *ngIf="Imagen?.hasError('required')" class="txt">
                    <p>Imagen requerida</p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Nombre Titulo</label>
            <input class="form-control" formControlName="nombreTitulo" type="text" placeholder="Nombre del titulo">
            <div *ngIf="NombreTitulo?.errors && NombreTitulo?.touched">
                <span *ngIf="NombreTitulo?.hasError('required')" class="txt">
                    <p>Campo requerido</p>
                </span>
                <span *ngIf="NombreTitulo?.errors?.['minlength']" class="txt">
                    <p>El nombre debe tener como minimo 5 caracteres</p>
                </span>
            </div>
        </div>
                

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Universidad</label>
                    <select class="form-control" formControlName="universidad"  type="select" (change)="obtenerValor()" required>
                        <!-- con value sacamos el id del la universidad seleccionada, con async extraemos la informacion del observable universidad que trae todas las universidades de la bae de datos, con esto nos evitamos hacer uso del subscribe en la parte logica -->
                        
                        <option *ngFor="let universidad of instituciones|async" [value]="universidad['idInstitucion']">
                            {{universidad.nombreInstitucion}}
                        </option>
                    </select>
                    <div *ngIf="Universidad?.errors && Universidad?.touched">
                        <span *ngIf="Universidad?.hasError('required')" class="txt">
                            <p>Campo requerido</p>
                        </span>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Fecha Inicio</label>
                    <input class="form-control" formControlName="initialDate" type="date" required>
                </div>

                <div *ngIf="InitialDate?.errors && InitialDate?.touched">
                    <span *ngIf="InitialDate?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Fecha Fin</label>
                    <input class="form-control" formControlName="finalDate" type="date" required>
                </div>

            </div>

        </div>

        <div class="form-btn text-center">
            <button type="submit" *ngIf="formu.valid && imagenUrl!==null" class="btn btn-dark m-5">Guardar</button>
        </div>

    </form>
</div>