<a [href]="['/inicio-sesion']">Volver a Inicio de Sesion</a>
<div class="contenedor">
    <h2>Crear Usuario</h2>
    <form [formGroup]="formu" class="m-3" (ngSubmit)="onSubmit($event)">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input
                [ngClass]="{'is-invalid':Nombre?.errors && Nombre?.touched, 'is-valid':!Nombre?.errors && Nombre?.touched}"
                formControlName="nombre" type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Nombre">
            <div *ngIf="Nombre?.errors && Nombre?.touched">
                <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                    Campo Requerido
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Apellido</label>
            <input
                [ngClass]="{'is-invalid':Apellido?.errors && Apellido?.touched, 'is-valid':!Apellido?.errors && Apellido?.touched}"
                formControlName="apellido" type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Apellido">
            <div *ngIf="Apellido?.errors && Apellido?.touched">
                <p *ngIf="Apellido?.hasError('required')" class="text-danger">
                    Campo Requerido
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input
                [ngClass]="{'is-invalid':Usuario?.errors && Usuario?.touched, 'is-valid':!Usuario?.errors && Usuario?.touched}"
                formControlName="nombreUsuario" type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="NombreUsuario">
            <div *ngIf="Usuario?.errors && Usuario?.touched">
                <p *ngIf="Usuario?.hasError('required')" class="text-danger">
                    Campo Requerido
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input
                [ngClass]="{'is-invalid':Email?.errors && Email?.touched, 'is-valid':!Email?.errors && Email?.touched}"
                formControlName="email" type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Email">
            <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                    Campo Requerido
                </p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                    No tiene formato de email
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input
                [ngClass]="{'is-invalid':Password?.errors && Password?.touched, 'is-valid':!Password?.errors && Password?.touched}"
                formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
                placeholder="Contraseña">
            <div *ngIf="Password?.errors && Password?.touched">
                <p *ngIf="Password?.hasError('required')" class="text-danger">
                    Contraseña requerida
                </p>
                <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                    Debe tener mas de 8 caracteres
                </p>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword">Confirm
                Password:</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                [ngClass]="{'is-invalid':ConfirmPassword?.errors && ConfirmPassword?.touched, 'is-valid':!ConfirmPassword?.errors && ConfirmPassword?.touched}"
                placeholder="Repetir Contraseña">
            <label class="text-danger"
                *ngIf="formu.controls['confirmPassword'].hasError('required') && ConfirmPassword?.touched">
                Contraseña requerida
            </label>
            <label class="text-danger"
                *ngIf="formu.controls['confirmPassword'].hasError('NoPassswordMatch') && ConfirmPassword?.touched">
                Las Contraseñas no coinciden
            </label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" (change)="onChange($event)">
            <label class="form-check-label" formControlName="administrador" for="exampleCheck1">Crear como administrador</label>
        </div>
        <div class="text-center">
            <button type="submit" [disabled]="formu.invalid" class="btn btn-primary">Crear</button>
        </div>
    </form>
</div>