label{
    all: unset;
    font-size: 25px;
    font-weight: 500;
}

.contenedor{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7273DB;
    width: 100vw;
    height: 100vh;
}

form{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #000;
    padding: 50px;
    width: 60%;
}

.title{
    color: #fff;
    font-size: 45px;
}

.create-submit{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn-volver{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 10px;
    color: #000;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 2px 2px 2px #000;
    text-decoration: none;
    background-color: #ffffff;
}

.btn-volver:hover{
    cursor: pointer;
    box-shadow: 0px 0px 0px #000;
}


@media (max-width:500px) {
    .title{
        color: #fff;
        font-size: 35px;
    }

    label{
        all: unset;
        font-size: 15px;
        font-weight: 500;
    }

    form{
        width: 320px;
    }
}


//Loader
.lds-ring {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 45px;
    height: 45px;
    margin: 4px;
    border: 8px solid rgb(0, 170, 255);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 170, 255) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }