<div class="caja">
    <form class="form container" [formGroup]="formu" (ngSubmit)="onSubmit($event)" id="form1">
        <div class="cerrar" (click)="cerrar()"> X </div>

        <div class="form-group">
            <label class="form-label">Nombre Curso</label>
            <input class="form-control" formControlName="name" type="text" placeholder="Nombre del curso">
            <div *ngIf="Name?.errors && Name?.touched">
                <span *ngIf="Name?.hasError('required')" class="txt">
                    <p>Campo requerido</p>
                </span>
                <span *ngIf="Name?.errors?.['minlength']" class="txt">
                    <p>El nombre debe tener como minimo 4 caracteres</p>
                </span>
            </div>
        </div>        
        
        <div class="form-group">
            <label class="form-label">Nombre de quien expede el certificado</label>
            <input class="form-control" formControlName="institution" type="text" placeholder="Institucion">
            <div *ngIf="Institution?.errors && Institution?.touched">
                <span *ngIf="Institution?.hasError('required')" class="txt">
                    <p>Campo requerido</p>
                </span>
                <span *ngIf="Institution?.errors?.['minlength']" class="txt">
                    <p>El nombre debe tener como minimo 5 caracteres</p>
                </span>
            </div>                            
        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Fecha Inicio</label>
                    <input class="form-control" formControlName="fechaInicio" type="date" required>
                </div>

                <div *ngIf="FechaInicio?.errors && FechaInicio?.touched">
                    <span *ngIf="FechaInicio?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                </div>        
                
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Fecha Fin</label>
                    <input class="form-control" type="date" required>
                </div>

            </div>

        </div>

        <div class="form-btn text-center">
            <button type="submit" [disabled]="formu.invalid" class="btn btn-dark m-5">Guardar</button>
        </div>

    </form>
</div>