<div class="caja">
    <form class="form container" [formGroup]="formu" (ngSubmit)="onSubmit($event)" id="form1">
        <div class="cerrar" (click)="cerrar()"> X </div>

        <p class="text">
            <label class="form-label">Presentacion</label>
            <textarea class="form-control" formControlName="presentacion" type="text" placeholder="Realice una brebe descripcion de las actividades realizadas... (Maximo 450 caracteres)" [value]=""></textarea>
        </p>
        <div *ngIf="Presentacion?.errors && Presentacion?.touched">
            <span *ngIf="Presentacion?.hasError('required')" class="txt">
                <p>Descripcion requerida</p>
            </span>
            <span *ngIf="Presentacion?.errors?.['maxlength']" class="txt">
                <p>El titulo debe tener un maximo de 500 caracteres</p>
            </span>
        </div>

        <div class="form-btn text-center">
            <button type="submit" [disabled]="formu.invalid" class="btn btn-dark m-5">Guardar</button>
        </div>

    </form>
    
</div>