<!-- CURSOSO -->
<section class="anchoCompletoVw altoPorc100 mb-5">
    <div class="position-relative container p-3 color-white borderSoft softShadow">
        <p class="position-absolute top5 right2"> <i class="fa-solid fa-pen pointerHover text-end "> </i></p>
        <h3 class="text-center">Cursos y Charlas</h3>
        <div class="container">
            <div class="row">                    
                <div class="col-md-6" *ngFor="let curso of datos">     
                    <hr>                   
                    <div class="anchoCompletoPorc text-end"><i class="fas fa-pen-nib pointerHover"></i>  /  <i class="fas fa-trash pointerHover"></i></div>
                    <h4 class="text-decoration-underline">{{ curso.name }}</h4>
                    <h5> {{ curso.institucion }} </h5>
                    <h6 class="d-inline"><b>Duracion del Curso: </b> </h6><b class="text-secondary">Desde: {{ curso.start }} - Hasta: {{ curso.end }}</b>                        
                </div>                                                
            </div>
        </div>
        
    </div>
</section>