<div class="caja">
    <form class="form container formu" [formGroup]="formu" (ngSubmit)="onSubmit($event)" id="form1">
        <div class="cerrar" (click)="cerrar()"> X </div>

        <div class="infoFormu">

            <div class="imgs">
                <p class="file-select" id="src-file1">
                    <input value="Imagen perfil" formControlName="imagen1" name="name" type="file" alife-file-to-base64
                        multiple (onFileChanged)="onFileChanges1($event)" />
                </p>
                <!-- <div *ngIf="Imagen1?.errors && Imagen1?.touched">
                    <span *ngIf="Imagen1?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                </div> -->
                <p class="file-select" id="src-file2">
                    <input class="primary" value="Imagen portada" formControlName="imagen2" name="name" type="file"
                    alife-file-to-base64 multiple (onFileChanged)="onFileChanges1($event)" />
                </p>
                <!-- <div *ngIf="Imagen2?.errors && Imagen2?.touched">
                    <span *ngIf="Imagen2?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                </div> -->
            </div>

            <div class="imagenes">
                <div class="img1">
                    <p>Imagen portada</p>
                    <img [src]="imgPort" class="imgPrev" alt="">
                </div>
                <div class="img2">
                    <p>Imagen Perfil</p>
                    <img [src]="imgPerf" class="imgPrev" alt="">
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Nombre</label>
                <input class="form-control" formControlName="nombre" type="text" placeholder="Nombre">
                <div *ngIf="Nombre?.errors && Nombre?.touched">
                    <span *ngIf="Nombre?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Nombre?.errors?.['minlength']" class="txt">
                        <p>El nombre debe tener como minimo 5 caracteres</p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Telefono</label>
                <input class="form-control" formControlName="telefono" type="text" placeholder="Telefono">
                <div *ngIf="Telefono?.errors && Telefono?.touched">
                    <span *ngIf="Telefono?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Telefono?.errors?.['minlength']" class="txt">
                        <p>El telefono debe contener al menos 6 caracteres</p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Titulo</label>
                <input class="form-control" formControlName="titulo" type="text" placeholder="Titulo">
                <div *ngIf="Titulo?.errors && Titulo?.touched">
                    <span *ngIf="Titulo?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Titulo?.errors?.['minlength']" class="txt">
                        <p>El titulo debe tener como minimo 5 caracteres</p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Direccion</label>
                <input class="form-control" formControlName="direccion" type="text" placeholder="Direccion">
                <div *ngIf="Direccion?.errors && Direccion?.touched">
                    <span *ngIf="Direccion?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Direccion?.errors?.['minlength']" class="txt">
                        <p>La direccion debe tener como minimo 5 caracteres</p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Direccion</label>
                <input class="form-control" formControlName="direccion" type="email" placeholder="Email">
                <div *ngIf="Email?.errors && Email?.touched">
                    <span *ngIf="Email?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Email?.errors?.['minlength']" class="txt">
                        <p>Direccion de Email no valida</p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Web</label>
                <input class="form-control" formControlName="web" type="text" placeholder="Web">
                <div *ngIf="Web?.errors && Web?.touched">
                    <span *ngIf="Web?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Web?.errors?.['minlength']" class="txt">
                        <p>La direccion web debe tener como minimo 5 caracteres</p>
                    </span>
                </div>
            </div>
            <div class="form-btn text-center">
                <button type="submit" [disabled]="formu.invalid" class="btn btn-dark m-5">Guardar</button>
            </div>
        </div>
    </form>
</div>