label{
    font-weight: bolder;
}

form{
    width: 100vw;
}

.caja{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.568);
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.cajita{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 80%;
    overflow: auto;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.selector{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-decoration: none;
    width: 50%;
}

.name{
    width: 50%;
    border: none;
    box-shadow: 1px 1px 5px #000;
}

.subirImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cerrar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #000;
}

.cerrar:hover{
    cursor: pointer;
    box-shadow: none;
}

.imgPrev{
    width: 10%;
}