<div class="caja" (click)="cerrar()">
    <div class="cajita">
        <div class="salir" (click)="cerrar()"> X </div>
        <div class="info">
            <hr>
            <h3><b>Titulo:</b> {{datos.titulo}}</h3>
        </div>
        <div class="info">
            <hr>
            <h3><b>Telefono:</b> {{datos.telefono}}</h3>
        </div>
        <div class="info">
            <hr>
            <h3><b>Direccion:</b> {{datos.ubicacion}}</h3>
        </div>
        <div class="info">
            <hr>
            <h3><b>Pagina Web:</b> {{datos.web}}</h3>
        </div>
    </div>
</div>
