<div class="component">
    <header>
        <nav>
            <img src="../../assets/icono.png" alt="argentina-programa">
            <div class="btns">
                <a class="btn btn-info" [href]="['/inicio-sesion']">Inicio Sesion</a>
            </div>
        </nav>
    </header>
    <div class="img-fondo"></div>        
    <div class="titleContainer">
        <div class="titulo">
            <h1 class="text-center">BIENVENIDOS A MI PERFIL</h1>
            <h3>Regístrate para poder visualizarlo</h3>
            <h3>Te llevará menos de 1 minuto</h3>
        </div>
        <div class="btns">
            <a class="btn btn-info" [href]="['/register']">Registrase</a>
        </div>
    </div>
</div>
