<app-header></app-header>

<app-portada (abrirAccion)="abrir($event)"></app-portada>

<app-personal-information (cerrarEmit)="cerrar($event)" *ngIf="valor" ></app-personal-information>

<app-upload-images (cerrarAction)="cerrarFormImage($event)" *ngIf="valorImage" ></app-upload-images>

<app-presentacion (abrirPresentacion)="abrirPresentacion($event)"></app-presentacion>

<app-formulario-presentacion (cerrarVentana)="cerrarPresentacion($event)" *ngIf="valorPresentacion"></app-formulario-presentacion>

<app-experiencia></app-experiencia>

<app-educacion></app-educacion>

<app-skills></app-skills>

<app-proyectos></app-proyectos>

<app-cursos></app-cursos>
