<app-header (abrirRedesFormulario)="abrirRedesFormulario($event)"></app-header>

<app-formulario-redes (cerrarRedesFormulario)="cerrarRedesFormulario($event)" *ngIf="valorRedes"></app-formulario-redes>

<app-portada (abrirUpAccion)="abrirUpImg($event)" (abrirAccion)="abrir($event)"></app-portada>

<app-upload-images (cerrarUploadImage)="cerrarFormImage($event)" *ngIf="valorImage" ></app-upload-images> -->

<app-personal-information (cerrarEmit)="cerrar($event)" *ngIf="valor" ></app-personal-information>

<app-presentacion (abrirPresentacion)="abrirPresentacion($event)"></app-presentacion>

<app-formulario-presentacion (cerrarVentana)="cerrarPresentacion($event)" *ngIf="valorPresentacion"></app-formulario-presentacion>

<app-experiencia (abrirExperiencia)="abrirExperiencia($event)"></app-experiencia>

<app-formulario-experiencia (cerrarExperiencia)="cerrarExperiencia($event)" *ngIf="valorExperiencia"></app-formulario-experiencia>

<app-educacion (abrirEducaFormulario)="abrirEducaFormulario($event)"></app-educacion>

<app-formulario-educacion (cerrarEducaFormulario)="cerrarEducaFormulario($event)" *ngIf="valorEducacion"></app-formulario-educacion>

<app-skills (abrirSkillFormulario)="abrirSkillFormulario($event)"></app-skills>

<app-formulario-skills (cerrarSkillFormulario)="cerrarSkillFormulario($event)" *ngIf="valorSkill"></app-formulario-skills>

<app-proyectos (abrirProyecFormulario)="abrirProyecFormulario($event)"></app-proyectos>

<app-formulario-proyectos (cerrarProyecFormulario)="cerrarProyecFormulario($event)" *ngIf="valorProyecto"></app-formulario-proyectos>

<app-cursos (abrirCursoFormulario)="abrirCursoFormulario($event)"></app-cursos>

<app-formulario-cursos (cerrarCursoFormulario)="cerrarCursoFormulario($event)" *ngIf="valorCursos"></app-formulario-cursos>
