<app-header></app-header>

<app-portada (abrirUpAccion)="abrirUpImg($event)" (abrirAccion)="abrir($event)"></app-portada>

<app-upload-images (cerrarUploadImage)="cerrarFormImage($event)" *ngIf="valorImage" ></app-upload-images> -->

<app-personal-information (cerrarEmit)="cerrar($event)" *ngIf="valor" ></app-personal-information>

<app-presentacion (abrirPresentacion)="abrirPresentacion($event)"></app-presentacion>

<app-formulario-presentacion (cerrarVentana)="cerrarPresentacion($event)" *ngIf="valorPresentacion"></app-formulario-presentacion>

<app-experiencia (abrirExperiencia)="abrirExperiencia($event)"></app-experiencia>

<app-formulario-experiencia (cerrarExperiencia)="cerrarExperiencia($event)" *ngIf="valorExperiencia" ></app-formulario-experiencia>

<app-educacion (abrirEducaFormulario)="abrirEducaFormulario($event)"></app-educacion>

<app-formulario-educacion (cerrarEducaFormulario)="cerrarEducaFormulario($event)" *ngIf="valorEducacion"></app-formulario-educacion>

<app-skills></app-skills>

<app-proyectos></app-proyectos>

<app-cursos></app-cursos>
