<div class="caja">
    <form class="form container" [formGroup]="formu" (ngSubmit)="onSubmit($event)" id="form1">
        <div class="cerrar" (click)="cerrar()"> X </div>

        <div class="form-group img">
            <p class="file-select" id="src-file">
                <input value="Imagen perfil" formControlName="imagen" name="imagen" type="file" (change)="onFileChanges($event)" />
            </p>

            <img [src]="imagenUrl || infoExperiencia.urlImagen" alt="">

            <svg *ngIf="cargaArchivo && imagenUrl=== undefined" version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                enable-background="new 0 0 0 0" xml:space="preserve">
                <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15"
                        repeatCount="indefinite" begin="0.1" />
                </circle>
                <circle fill="#fff" stroke="none" cx="30" cy="50" r="6">
                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10"
                        repeatCount="indefinite" begin="0.2" />
                </circle>
                <circle fill="#fff" stroke="none" cx="54" cy="50" r="6">
                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5"
                        repeatCount="indefinite" begin="0.3" />
                </circle>
            </svg>

            <div *ngIf="Imagen?.errors && Imagen?.touched">
                <span *ngIf="Imagen?.hasError('required')" class="txt">
                    <p>Imagen requerida</p>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">Nombre Empresa</label>
            <input class="form-control" formControlName="nombreEmpresa" type="text" placeholder="Nombre del curso">
            <div *ngIf="NombreEmpresa?.errors && NombreEmpresa?.touched">
                <span *ngIf="NombreEmpresa?.hasError('required')" class="txt">
                    <p>Campo requerido</p>
                </span>
                <span *ngIf="NombreEmpresa?.errors?.['minlength']" class="txt">
                    <p>El nombre debe tener como minimo 5 caracteres</p>
                </span>
            </div>
        </div>


        <div class="form-group">
            <label class="form-label">Descripcion de tareas</label>
            <textarea class="form-control" formControlName="description" type="text"
                placeholder="Institucion"></textarea>
            <div *ngIf="Description?.errors && Description?.touched">
                <span *ngIf="Description?.hasError('required')" class="txt">
                    <p>Campo requerido</p>
                </span>
                <span *ngIf="Description?.errors?.['minlength']" class="txt">
                    <p>El nombre debe tener como minimo 10 caracteres</p>
                </span>
                <span *ngIf="Description?.errors?.['maxlength']" class="txt">
                    <p>El nombre debe tener como maximo 250 caracteres</p>
                </span>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Fecha Inicio</label>
                    <input class="form-control" formControlName="initialDate" type="date" required>
                </div>

                <div *ngIf="InitialDate?.errors && InitialDate?.touched">
                    <span *ngIf="InitialDate?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="form-label">Fecha Fin</label>
                    <input class="form-control" formControlName="finalDate" type="date">
                </div>

            </div>

        </div>

        <div class="form-btn text-center">
            <button type="submit" [disabled]="formu.invalid && imagenUrl === null" class="btn btn-dark m-5">Guardar</button>
        </div>

    </form>

</div>