img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

input[name="imagen"]{
    width: 100%;
}

.img{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.fechas{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
}


#src-file::before {
    content: 'Imagen Institucion';
  }
