@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

*,html{margin:0;padding:0}

//variables
$baseColor : #e74c3c;
$fontColor : #fff;

img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

input[name="imagen"]{
    width: 100%;
}

.img{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.fechas{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    label{
        font-size: 30px;
        font-weight: bolder;
        color: aliceblue;
        filter: drop-shadow(1px 1px 2px #000);
    }
}


#src-file::before {
    content: 'Imagen Empresa';
  }

  svg{
    width: 60px;
    height: 60px;
    margin: 20px;
    display:inline-block;
  }
  h1{
    text-align: center;
    color: $fontColor;
    margin: 0 0 100px;
    font-size: 34px;
    font-weight: 100;
    text-transform: uppercase;
    background-color: darken($baseColor, 5);
    padding: 20px 0;
    b{
      font-weight: 700;
    }
  }
  
  //follow me template
  .made-with-love{
    margin-top: 20px;
    padding: 10px;
    font-size: 10px;
    font-family: arial;
    color: #fff;
    i{
      font-style: normal;
      color: #F50057;
      font-size: 14px;
      position: relative;
      top: 2px;
    }
    a{
      color: #fff;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }