<div class="caja">
    <div class="form container formu" id="form1">
        <div class="cerrar" (click)="cerrar()"> X </div>

        <form class="infoFormu"[formGroup]="formu" (ngSubmit)="onSubmit($event)">

            <div class="imgs">

                    <input value="Imagen perfil" formControlName="urlPortada" name="img1" type="file" (change)="onFileChanges1($event)" id="img1"/>
                <label for="img1" class="img_1">Subir imagen de portada</label>
               
                
                    <input class="primary" value="Imagen portada" formControlName="urlPerfil" name="img2" type="file" (change)="onFileChanges2($event)" id="img2"/>
                <label for="img2" class="img_2">Subir imagen de perfil</label>
               
                
            </div>
            

            <div class="imagenes">
                <div class="img1">
                    <p>Imagen perfil</p>
                    <img [src]="datos.urlPerfil" class="imgPrev" alt="">
                </div>
                <div class="img2">
                    <p>Imagen portada</p>
                    <img [src]="datos.urlPortada" class="imgPrev" alt="">
                </div>
            </div>

            <div class="form-group">

                <label class="form-label">Nombre </label>
                <input class="form-control" formControlName="nombre" type="text" placeholder="Nombre" required>

                <div *ngIf="Nombre?.errors && Nombre?.touched">
                    <span *ngIf="Nombre?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Nombre?.errors?.['minlength']" class="txt">
                        <p>El nombre debe tener como minimo 5 caracteres</p>
                    </span>
                </div>

            </div>

            <div class="form-group">

                <label class="form-label">Apellido </label>
                <input class="form-control" formControlName="apellido" type="text" placeholder="Apellido" required>

                <div *ngIf="Apellido?.errors && Apellido?.touched">
                    <span *ngIf="Apellido?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Apellido?.errors?.['minlength']" class="txt">
                        <p>El nombre debe tener como minimo 5 caracteres</p>
                    </span>
                </div>

            </div>


            <div class="form-group">

                <label class="form-label">Telefono</label>
                <input class="form-control" formControlName="telefono" type="text" placeholder="Telefono" required>

                <div *ngIf="Telefono?.errors && Telefono?.touched">                    
                    <span *ngIf="Telefono?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Telefono?.errors?.['minlength']" class="txt">
                        <p>El telefono debe contener al menos 6 caracteres</p>
                    </span>
                </div>
            </div>            

            <div class="form-group">

                <label class="form-label">Fecha Nacimiento</label>
                <input class="form-control" [ngModel]='datos.fechaNacimiento | date:"yyyy-MM-dd"' formControlName="fechaNacimiento" type="date" placeholder="Fecha Nacimiento" required>

                <div *ngIf="FechaNacimeinto?.errors && FechaNacimeinto?.touched">
                    <span *ngIf="Titulo?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>                    
                </div>

            </div>

            <div class="form-group">

                <div class="row">
                    <div class="col">
                        
                        <label class="form-label">Pais: </label>

                        <select class="form-control" formControlName="pais" type="select">

                            <!-- Mediante ngValue lo que hacemos es devolver como valor el objeto completo pais para luego ser trabajado en el componente -->
                        <option *ngFor="let pais of paises|async" [ngValue]="pais">
                            {{pais.nombrePais}}
                        </option>

                        </select>

                    </div>
                    <div class="col">
                        
                        <label class="form-label">Provincia: </label>

                        <select class="form-control" formControlName="provincia" type="select">

                        <option *ngFor="let provincia of provincias|async" [ngValue]="provincia">
                            {{provincia.nombreProvincia}}
                            <!-- <span *ngIf="provincia.pais.idPais === idPais">
                            </span> -->
                        </option>

                        </select>

                    </div>
                    <div class="col">
                        
                        <label class="form-label">Localidad: </label>

                        <select class="form-control" formControlName="ciudad" (click)="iniciarCiudad()" type="select">

                        <option *ngFor="let ciudad of ciudades|async" [ngValue]="ciudad">
                            {{ciudad.nombreCiudad}}
                        </option>

                        </select>

                    </div>
                </div>
                <div class="row">
                    <label class="form-label">Domicilio</label>
                    
                    <div class="col">
                        <label class="form-label">Calle: </label>

                        <input type="text" formControlName="calle" class="form-control" required>    

                        <div *ngIf="Calle?.errors && Calle?.touched">                    
                            <span *ngIf="Calle?.hasError('required')" class="txt">
                                <p>Campo requerido</p>
                            </span>                            
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label">Numero: </label>

                        <input type="number" formControlName="numero" class="form-control" required>    
                        
                        <div *ngIf="Numero?.errors && Numero?.touched">                    
                            <span *ngIf="Numero?.hasError('required')" class="txt">
                                <p>Campo requerido</p>
                            </span>                            
                        </div>
                    </div>
                    <div class="col">
                        <label class="form-label">Piso: </label>

                        <input type="number" formControlName="piso" class="form-control" required>    
                        
                    </div>
                    <div class="col">
                        <label class="form-label">Departamento: </label>

                        <input type="number" formControlName="departamento" class="form-control" required>    
                    </div>

                </div>
                
            </div>

            <div class="form-group">

                <label class="form-label">Email</label>
                <input class="form-control" formControlName="email" type="email" placeholder="Email" required>

                <div *ngIf="Email?.errors && Email?.touched">                    
                    <span *ngIf="Email?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Email?.errors?.['minlength']" class="txt">
                        <p>Direccion de Email no valida</p>
                    </span>
                </div>

            </div>

            <div class="form-group">

                <label class="form-label">Web</label>
                <input class="form-control" formControlName="web" type="text" placeholder="Web">

                <div *ngIf="Web?.errors && Web?.touched">
                    <span *ngIf="Web?.hasError('required')" class="txt">
                        <p>Campo requerido</p>
                    </span>
                    <span *ngIf="Web?.errors?.['minlength']" class="txt">
                        <p>La direccion web debe tener como minimo 5 caracteres</p>
                    </span>
                </div>

            </div>

            <div class="form-btn text-center">
                <button type="submit" [disabled]="formu.invalid" class="btn btn-dark m-5">Guardar</button>
            </div>

        </form>
    </div>
</div>